@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  overflow: auto;
}
.sm_screen{
  display: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.d-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MuiTab-textColorPrimary{
  color: rgb(1, 41, 151) !important;
}
/* .MuiTab-textColorSecondary{
  color: rgb(226, 60, 184) !important;
} */
.Mui-selected{
  color: rgb(218, 12, 12) !important;
}
.MuiTabs-indicator{
  background-color: rgb(9, 1, 36) !important;
}
/* .MuiTab-root{
  background-color: rgba(217, 206, 228, 0.493) !important;
  padding: 0 !important;
} */

/* 780 * 760 */

@media screen and (max-width: 780px) {
  .App {
    display: none;
  }
  .sm_screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(216, 217, 218);
    min-height: 700px;
    background-color: rgb(34, 32, 32);
    font-size: 20px;
  }
  .sm_screen > h3 {
    margin: .15rem;
    letter-spacing: .5px;
  }
}