@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.MuiTab-textColorPrimary{
  color: rgb(226, 226, 60) !important;
}
.MuiTab-textColorSecondary{
  color: rgb(226, 60, 184) !important;
}
.Mui-selected{
  color: rgb(46, 199, 79) !important;
}
.MuiTabs-indicator{
  background-color: orange !important;
}
.MuiTab-root{
  background-color: blueviolet !important;
}